*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/b.jpg);
    background-position: center;
    background-size: cover;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    font: inherit;
    color: inherit;
    font-size: 1rem;
}

button{
    color: #fff;
    padding: 10px 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: scale 300ms ease;
    background-color: transparent;
    position: relative;
}


button:hover{
    scale: 1.1;
}

button:active a,
button:focus a {
    font-weight: 600;
    opacity: .6;
}


.container{
    background: rgba(17, 17, 17, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    min-width: 400px;
    border-radius: 20px;
    padding: 20px 0;
}

.header{
    text-align: center;
}

.header img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 0 auto;
    border: 2px solid #fff;
}

.header h1{
    padding: 4px 0;
}

.header span{
    font-size: 0.8rem;
}

.icons{
    font-size: 1.2em;
    margin-top: 10px;
}

.icons a{
    padding: 5px;
}

.icons a i{
    transition: scale 300ms ease;
}

.icons a i:hover{
    scale: 1.2;
}

.links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

